<%- include("partials/header"); -%>
<div class="text-center fontUbuntu">
  <div class="result-title">
    <h1 class ="" id="title">Result</h1>

    <h1 class ="" id="title"><%=Gpa%></h1>
  </div>

  <h4></h4>
      <table class="result-table">
        <tr>
          <td class="result-td"><h1>COURSES</h1></td>
          <td><h1>GRADE</h1></td>
        <!-- </tr> -->
  <% for(var i=0; i< num; i++){ %>

      <tr>
        <td class="result-td"><%= course[i] %></td>
        <td><%= score[i] %></td>
      </tr>


  <%}%>
  </table>
</div>

<%- include("partials/footer");-%>
