<%- include("partials/header"); -%>
<div class="text-center fontUbuntu">
  <h1 class ="" id="title">Result</h1>

  <h1 class ="" id="title"><%=Gpa%></h1>
  <h4></h4>
      <table>
        <tr>
          <td><h1>COURSES</h1></td>
          <td><h1>GRADE</h1></td>
        <!-- </tr> -->
  <% for(var i=0; i< num; i++){ %>

      <tr>
        <td><%= Course[i] %></td>
        <td><%= Score[i] %></td>
      </tr>


<%}%>
  </table>
</div>

<%- include("partials/footer");-%>
