<%-include("partials/header"); -%>

<form class="fontUbuntu" action="/simulate" method="post">
  <h1 id="title" class="text-center" >Calculate Gpa </h1>
<div class="simulate">


<button type="submit" name="button" class=" btns ">simulate</button>
</div>
<div class=" row  ">
<% for(i= 0; i<NoOfCourses ;i++){ %>


  <ul class=" col-lg-4 col-sm-6 color padding ">
    <li class=" ">
      <label class="course">Course name:<input class="course" type="text" name="name<%=i%>"  class="name"></label>

    </li>
    <li class=" ">
      <label class="course">Course grade: <input class="course" type="text" name="grade<%=i%>"  class="grade"></label>

    </li>
    <li class=" ">
      <label class="course">Course units:   <input class="course"  type="text" name="unit<%=i%>"  class="unit"></label>

    </li>

  </ul>




<%}%>
</div>
</form>

<%- include("partials/footer");-%>
